@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form name="frm" method="post" action="" id="frm" enctype="multipart/form-data">
<a href="http://localhost:55657/contact?name1=ajit">link To Contact form</a>
</form>