@model IEnumerable<EntityTest1.Models.Land>

<p>
	
	<table>
    <tr>
		<th>ID</th>
		<th>Name</th>
    </tr>

@foreach (var item in Model) {
    <tr>
		<td>
           @item.Id
		</td>
		<td>
           @item.Name
        </td>
    </tr>
}

</table>
</p>
