<?xml version="1.0" encoding="UTF-8"?>
<?include Properties.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />

		<Media Id="1" Cabinet="AjitDetectMyIpServicecab" EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Ajit.DetectMyIp.Service.Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.ProductName)" >
					<?include Ajit.DetectMyIp.Service.wxi?>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="ApplicationFiles"/>
		</ComponentGroup>
	</Fragment>

</Wix>