
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

@*@{
    var myChart = new Chart(width: 200, height: 200)
        .AddTitle("Chart Title")
        .AddSeries(
            name: "Employee",
            xValue: new[] { "Peter", "Andrew", "Julie", "Mary", "Dave" },
            yValues: new[] { "2", "6", "4", "5", "3" })
        .Write();
}*@


<img src="/home/Chart" />

<img src="/home/dataChart" />



